<a href="https://colab.research.google.com/github/00150/AI_07_JYP_Project_section_01/blob/main/2022__%EC%9A%B0%ED%81%AC%EB%9D%BC%EC%9D%B4%EB%82%98_%EB%9F%AC%EC%8B%9C%EC%95%84_%EC%A0%84%EC%9F%81_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Project2. Ïö∞ÌÅ¨ÎùºÏù¥ÎÇò Îü¨ÏãúÏïÑ Ï†ÑÏüÅ üèπ

>22.02.24 Í∞úÏ†ÑÎêú Ï†ÑÏüÅÏùÄ ÌòÑÏû¨ÍπåÏßÄ Í≥ÑÏÜç ÏßÑÌñâÏ§ëÏóê ÏûàÏäµÎãàÎã§.<br/>
Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ïö©ÌïòÏó¨ ÏÜêÏã§ Î∞è ÏïûÏúºÎ°úÏùò Î∞©Ìñ•ÏùÑ ÏòàÏ∏°Ìï¥Î≥¥ÎèÑÎ°ù Ìï©ÎãàÎã§.<br/>

* ‚úîÏ∞∏Í≥† : Ïª¨Îüº Î≥Ñ Ï£ºÏöî Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤òÎäî **Ïö∞ÌÅ¨ÎùºÏù¥ÎÇò Íµ∞ÎåÄ**ÏôÄ **Íµ≠Î∞©Î∂Ä** ÏûÖÎãàÎã§.

#### ‚ùóÏ£ºÏùò.
* **Ïû•ÎπÑ Î∞è Ïù∏Î†• ÏÜêÏã§Ïùò Ïàò**Îäî **Îü¨ÏãúÏïÑÏóêÎßå Ìï¥Îãπ**Ìï©ÎãàÎã§.
* Ïö∞ÌÅ¨ÎùºÏù¥ÎÇòÏóêÏÑúÎäî ÏûêÍµ≠Ïùò Ïû•ÎπÑ Î∞è Ïù∏Î†• ÏÜêÏã§Ïóê Í¥ÄÌïòÏó¨ Ï†ïÌôïÌïòÍ≤å Î∞úÌëúÌïòÏßÄ ÏïäÏïòÏäµÎãàÎã§.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Ìå®ÌÇ§ÏßÄ & ÎùºÏù¥Î∏åÎü¨Î¶¨ import
import pandas as pd
import numpy as np

In [7]:
url1 = '/content/drive/MyDrive/new_project02/russia_losses_equipment.csv'
url2 = '/content/drive/MyDrive/new_project02/russia_losses_personnel.csv'

In [8]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df1 = pd.read_csv(url1)

In [9]:
df1.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles
0,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN

In [10]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ df2
df2 = pd.read_csv(url2)

In [11]:
df2.head()

         date  day  personnel personnel*    POW
0  2022-02-25    2       2800      about    0.0
1  2022-02-26    3       4300      about    0.0
2  2022-02-27    4       4500      about    0.0
3  2022-02-28    5       5300      about    0.0
4  2022-03-01    6       5710      about  200.0

---
### 1. Data EDA.
>Î∂ÑÏÑù, ÏòàÏ∏° Î∞è Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ Ïù¥Ï†ÑÏóê Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¥Ìé¥Î≥¥ÎèÑÎ°ù Ìï©ÎãàÎã§.

#### 1-1.Ïª¨ÎüºÎ≥Ñ Îç∞Ïù¥ÌÑ∞
> Í∞ÄÎèÖÏÑ±ÏùÑ ÎÜíÌûàÍ∏∞ ÏúÑÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Ïùò Ïª¨ÎüºÏùÑ ÌïúÍ∏ÄÎ°ú Î∞îÍøîÏ§çÎãàÎã§.

In [12]:
df1.columns

Index(['date', 'day', 'aircraft', 'helicopter', 'tank', 'APC',
       'field artillery', 'MRL', 'military auto', 'fuel tank', 'drone',
       'naval ship', 'anti-aircraft warfare', 'special equipment',
       'mobile SRBM system', 'greatest losses direction',
       'vehicles and fuel tanks', 'cruise missiles'],
      dtype='object')

In [13]:
# Ïª¨ÎüºÎ™ÖÏùÑ Î≥ÄÍ≤ΩÌïòÍ∏∞ Ï†ÑÏùò Ïù¥Î¶ÑÏùÑ Î≥¥Í¥ÄÌï©ÎãàÎã§.
columns_name_not_modified = df1.columns

In [14]:
eq_df = df1.rename(columns={'date':'ÎÇ†Ïßú','day':'Í∞úÏ†ÑÏùº','aircraft':'Ìï≠Í≥µÍ∏∞','helicopter':'Ìó¨Î¶¨ÏΩ•ÌÑ∞','tank' : 'ÌÉ±ÌÅ¨',
                    'APC':'Ïû•Í∞ëÏ∞®','field artillery': 'ÏïºÌè¨' ,'MRL' :'Îã§Ï§ëÎ°úÏºìÎ∞úÏÇ¨Í∏∞','military auto' : 'ÏûêÎèôÌôîÍ∏∞Í∏∞',
                    'fuel tank': 'Ïó∞Î£åÌÉ±ÌÅ¨', 'drone':'ÎìúÎ°†' ,'naval ship' : 'Ìï¥Íµ∞Ìï®Ï†ï', 'anti-aircraft warfare' : 'Î∞©Í≥µÌè¨', 'special equipment' : 'ÌäπÏàò Ïû•ÎπÑ',
                    'mobile SRBM system' : 'ÏûêÎèôÌôî ÌÉÑÎèÑ ÎØ∏ÏÇ¨Ïùº', 'vehicles and fuel tanks' : 'ÌÉàÍ≤É Î∞è Ïó∞Î£åÌÉ±ÌÅ¨', 'cruise missiles' : 'ÌÅ¨Î£®Ï¶à ÎØ∏ÏÇ¨Ïùº','greatest losses direction' : 'ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠'})

eq_df.head()

,ÎÇ†Ïßú,Í∞úÏ†ÑÏùº,Ìï≠Í≥µÍ∏∞,Ìó¨Î¶¨ÏΩ•ÌÑ∞,ÌÉ±ÌÅ¨,Ïû•Í∞ëÏ∞®,ÏïºÌè¨,Îã§Ï§ëÎ°úÏºìÎ∞úÏÇ¨Í∏∞,ÏûêÎèôÌôîÍ∏∞Í∏∞,Ïó∞Î£åÌÉ±ÌÅ¨,ÎìúÎ°†,Ìï¥Íµ∞Ìï®Ï†ï,Î∞©Í≥µÌè¨,ÌäπÏàò Ïû•ÎπÑ,ÏûêÎèôÌôî ÌÉÑÎèÑ ÎØ∏ÏÇ¨Ïùº,ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠,ÌÉàÍ≤É Î∞è Ïó∞Î£åÌÉ±ÌÅ¨,ÌÅ¨Î£®Ï¶à ÎØ∏ÏÇ¨Ïùº
0,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN

#### df2Ïùò Îç∞Ïù¥ÌÑ∞Ïùò Ïª¨ÎüºÎ™Ö ÎòêÌïú Î≥ÄÍ≤ΩÌï©ÎãàÎã§.

In [15]:
pp_df = df2.rename(columns={'date':'ÎÇ†Ïßú', 'day':'Í∞úÏ†ÑÏùº', 'personnel':'ÏÇ¨ÎßùÏûê Ïàò', 'personnel*':'Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê', 'POW':'Ï†ÑÏüÅ Ìè¨Î°ú'})
pp_df

             ÎÇ†Ïßú  Í∞úÏ†ÑÏùº  ÏÇ¨ÎßùÏûê Ïàò Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê  Ï†ÑÏüÅ Ìè¨Î°ú
0    2022-02-25    2   2800    about    0.0
1    2022-02-26    3   4300    about    0.0
2    2022-02-27    4   4500    about    0.0
3    2022-02-28    5   5300    about    0.0
4    2022-03-01    6   5710    about  200.0
..          ...  ...    ...      ...    ...
160  2022-08-04  162  41500    about    NaN
161  2022-08-05  163  41650    about    NaN
162  2022-08-06  164  41900    about    NaN
163  2022-08-07  165  42200    about    NaN
164  2022-08-08  166  42340    about    NaN

[165 rows x 5 columns]

#### Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú Ï†Ñ Ï§ëÏöî ÏÇ¨Ìï≠.
* Ïû•ÎπÑ Î∞è Ïù∏ÏõêÏùò ÏÜêÏã§ÏàòÎäî Ïò§ÏßÅ Îü¨ÏãúÏïÑÎßå ÏÑ±Î¶ΩÌïúÎã§.
*

Ï∞∏Í≥†ÌïòÍ≥† ÏûàÎäî url

https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war?select=russia_losses_personnel.csv <br>


https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war <br>


https://www.kaggle.com/code/piterfm/ukraine-russia-war-daily-data?scriptVersionId=102179843 <br>

---
#### ÏùºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±üìÖ
> Ï§ëÎ≥µÎêú Í∞íÎì§ÏùÑ Ï†ïÏ†úÌïòÏó¨ ÏùºÎ≥Ñ Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±Ìï©ÎãàÎã§.

In [16]:
#Îç∞Ïù¥ÌÑ∞Ïùò Ï†ïÎ≥¥Î•º ÌôïÏù∏Ìï©ÎãàÎã§.
eq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ÎÇ†Ïßú          165 non-null    object
 1   Í∞úÏ†ÑÏùº         165 non-null    int64
 2   Ìï≠Í≥µÍ∏∞         165 non-null    int64
 3   Ìó¨Î¶¨ÏΩ•ÌÑ∞        165 non-null    int64
 4   ÌÉ±ÌÅ¨          165 non-null    int64
 5   Ïû•Í∞ëÏ∞®         165 non-null    int64
 6   ÏïºÌè¨          165 non-null    int64
 7   Îã§Ï§ëÎ°úÏºìÎ∞úÏÇ¨Í∏∞     165 non-null    int64
 8   ÏûêÎèôÌôîÍ∏∞Í∏∞       65 non-null     float64
 9   Ïó∞Î£åÌÉ±ÌÅ¨        65 non-null     float64
 10  ÎìúÎ°†          165 non-null    int64
 11  Ìï¥Íµ∞Ìï®Ï†ï        165 non-null    int64
 12  Î∞©Í≥µÌè¨         165 non-null    int64
 13  ÌäπÏàò Ïû•ÎπÑ       146 non-null    float64
 14  ÏûêÎèôÌôî ÌÉÑÎèÑ ÎØ∏ÏÇ¨Ïùº  36 non-null     float64
 15  ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠    106 non-null    object
 16  ÌÉàÍ≤É Î∞è Ïó∞Î£åÌÉ±ÌÅ¨   100 non-null    float64
 17  ÌÅ¨Î£®Ï¶à ÎØ∏ÏÇ¨Ïùº     100 non-null    float64
dtypes: float64(6), int64(10), object(2)
memory usage: 23.3+ KB

In [17]:
pp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ÎÇ†Ïßú        165 non-null    object
 1   Í∞úÏ†ÑÏùº       165 non-null    int64
 2   ÏÇ¨ÎßùÏûê Ïàò     165 non-null    int64
 3   Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê  165 non-null    object
 4   Ï†ÑÏüÅ Ìè¨Î°ú     62 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.6+ KB

#### ÎÇ†Ïßú Îç∞Ïù¥ÌÑ∞Îäî object ÌòïÌÉúÎ°ú ÎêòÏñ¥ ÏûàÏäµÎãàÎã§.
* datetimeÏúºÎ°ú Î≥ÄÍ≤ΩÌï©ÎãàÎã§.

In [18]:
eq_df['ÎÇ†Ïßú'] = pd.to_datetime(eq_df['ÎÇ†Ïßú']) 
pp_df['ÎÇ†Ïßú'] = pd.to_datetime(eq_df['ÎÇ†Ïßú'])

---
#### ÌäπÏ†ï Ïª¨ÎüºÏùÑ Îç∞Ïù¥ÌÑ∞Ïùò Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌï©ÎãàÎã§.
* Îëê Í∞úÏùò Îç∞Ïù¥ÌÑ∞Ïùò Î™®Îëê Ï†ÅÏö©Ìï©ÎãàÎã§.
* Ï†ÅÏö©ÎêòÎäî Î∂ÄÎ∂ÑÏùÄ Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.

> Ïû•ÎπÑÎ•º ÎÇòÌÉÄÎÇ¥Îäî Îç∞Ïù¥ÌÑ∞ : ÎÇ†Ïßú, Í∞úÏ†ÑÏùº, ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠ <br/>

> Ï†ÑÏüÅÏ§ë ÏùºÏñ¥ÎÇú ÏÇ¨ÎßùÏù∏ÏõêÏùÑ ÎÇòÌÉÄÎÇ∏ Îç∞Ïù¥ÌÑ∞ : ÎÇ†Ïßú, Í∞úÏ†ÑÏùº, Î∂àÎ∂ÑÎ™ÖÌïú ÏÇ¨ÎßùÏûê Ïàò</br>

In [19]:
# Ïû•ÎπÑ Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïä§ Î≥ÄÌôò
eq_df = eq_df.set_index(['ÎÇ†Ïßú', 'Í∞úÏ†ÑÏùº','ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠'])

In [20]:
eq_df = eq_df.diff().fillna(eq_df).fillna(0).astype(int).reset_index()

In [21]:
eq_df.tail(20)

,ÎÇ†Ïßú,Í∞úÏ†ÑÏùº,ÌîºÌï¥Í∞Ä ÌÅ∞ ÏßÄÏó≠,Ìï≠Í≥µÍ∏∞,Ìó¨Î¶¨ÏΩ•ÌÑ∞,ÌÉ±ÌÅ¨,Ïû•Í∞ëÏ∞®,ÏïºÌè¨,Îã§Ï§ëÎ°úÏºìÎ∞úÏÇ¨Í∏∞,ÏûêÎèôÌôîÍ∏∞Í∏∞,Ïó∞Î£åÌÉ±ÌÅ¨,ÎìúÎ°†,Ìï¥Íµ∞Ìï®Ï†ï,Î∞©Í≥µÌè¨,ÌäπÏàò Ïû•ÎπÑ,ÏûêÎèôÌôî ÌÉÑÎèÑ ÎØ∏ÏÇ¨Ïùº,ÌÉàÍ≤É Î∞è Ïó∞Î£åÌÉ±ÌÅ¨,ÌÅ¨Î£®Ï¶à ÎØ∏ÏÇ¨Ïùº
145,2022-07-20,147,Bakhmut,1,0,9,13,5,2,0,0,10,0,0,0,0,8,0
146,2022-07-21,148,Sloviansk,0,0,4,7,3,1,0,0,7,0,0,2,0,6,0
147,2022-07-22,149,Kryvyi Rih and Bakhmut,0,0,0,8,4,0,0,0,3,0,0,0,0,22,0
148,2022-07-23,150,"Kramatorsk, Kryvyi Rih and Bakhmut",0,0,4,9,1,2,0,0,1,0,0,0,0,17,0
149,2022-07-24,151,Kramatorsk,0,0,14,13,5,2,0,0,0,0,0,1,0,3,3
150,2022-07-25,152,Kramatorsk,1,0,8,8,7,2,0,0,5,0,3,0,0,9,4
151,2022-07-26,153,Bakhmut,0,1,7,9,4,1,0,0,3,0,1,2,0,3,0
152,2022-07-27,154,Kryvyi Rih,0,1,1,12,3,0,0,0,4,0,0,0,0,12,0
153,2022-07-28,155,Kryvyi Rih,0,0,4,8,11,0,0,0,3,0,0,0,0,7,0
154,2022-07-29,156,Kryvyi Rih,0,0,7,8,6,0,0,0,2,0,0,2,0,16,0
155,2022-07-30,157,Donetsk,0,0,10,8,6,0,0,0,2,0,0,1,0,19,0
156,2022-07-31,158,Donetsk,1,0,4,9,10,1,0,0,2,0,0,2,0,13,0
157,2022-08-01,159,Donetsk and Kryvyi Rih,0,0,5,7,16,0,0,0,1,0,0,2,0,10,0
158,2022-08-02,160,Bakhmut and Kryvyi Rih,0,1,0,3,4,0,0,0,3,0,0,0,0,2,0
159,2022-08-03,161,Bakhmut and Donetsk,0,0,6,8,3,0,0,0,1,0,1,1,0,8,6
160,2022-08-04,162,Bakhmut and Donetsk,0,0,15,4,7,1,0,0,2,0,0,0,0,38,2
161,2022-08-05,163,Donetsk,0,0,3,6,4,0,0,0,0,0,5,0,0,4,0
162,2022-08-06,164,Donetsk,0,0,10,19,5,0,0,0,2,0,4,2,0,6,0
163,2022-08-07,165,Donetsk,0,0,3,4,3,0,0,0,6,0,5,1,0,8,0
164,2022-08-08,166,Donetsk,0,1,6,15,2,1,0,0,4,0,0,0,0,15,0

In [22]:
pp_df = pp_df.set_index(['ÎÇ†Ïßú', 'Í∞úÏ†ÑÏùº','Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê'])
pp_df

                         ÏÇ¨ÎßùÏûê Ïàò  Ï†ÑÏüÅ Ìè¨Î°ú
ÎÇ†Ïßú         Í∞úÏ†ÑÏùº Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê
2022-02-25 2   about      2800    0.0
2022-02-26 3   about      4300    0.0
2022-02-27 4   about      4500    0.0
2022-02-28 5   about      5300    0.0
2022-03-01 6   about      5710  200.0
...                        ...    ...
2022-08-04 162 about     41500    NaN
2022-08-05 163 about     41650    NaN
2022-08-06 164 about     41900    NaN
2022-08-07 165 about     42200    NaN
2022-08-08 166 about     42340    NaN

[165 rows x 2 columns]

In [23]:
pp_df = pp_df.diff().fillna(pp_df).fillna(0).astype(int).reset_index()
pp_df

            ÎÇ†Ïßú  Í∞úÏ†ÑÏùº Î∂àÌôïÏã§Ìïú ÏÇ¨ÎßùÏûê  ÏÇ¨ÎßùÏûê Ïàò  Ï†ÑÏüÅ Ìè¨Î°ú
0   2022-02-25    2    about   2800      0
1   2022-02-26    3    about   1500      0
2   2022-02-27    4    about    200      0
3   2022-02-28    5    about    800      0
4   2022-03-01    6    about    410    200
..         ...  ...      ...    ...    ...
160 2022-08-04  162    about    150      0
161 2022-08-05  163    about    150      0
162 2022-08-06  164    about    250      0
163 2022-08-07  165    about    300      0
164 2022-08-08  166    about    140      0

[165 rows x 5 columns]

---
#### ÏùºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö© ÏòàÏãú

In [24]:
import matplotlib.pyplot as plt
from  matplotlib import dates #ÎÇ†ÏßúÎ•º Ï†ïÍµêÌïòÍ≤å ÌëúÍ∏∞ÌïòÍ∏∞ ÏúÑÌï®
from dateutil.relativedelta import relativedelta


# ÏãúÍ∞ÅÌôî ÏûêÎ£å : 
fig_author = 'Jin Young'


# ÎÇ†Ïßú ÏãúÍ∞Ñ Î≥ÄÍ≤ΩÌïòÍ∏∞
fig_date = pd.Timestamp('today').date()


# Í∏∞Í∞Ñ
period_months = 2

# ÏÇ¥Ìé¥Î≥º Ïª¨Îüº ÏßÄÏ†ï
column_equipment = 'ÎìúÎ°†'
column_date = 'ÎÇ†Ïßú'

In [25]:
# ÏÇ¥Ìé¥Î≥º Íµ¨Í∞ÑÎßå ÏßÄÏ†ïÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•.
df_ = eq_df[[column_date, column_equipment]]

# ÎßàÏßÄÎßâ Ìñâ : ÎÇ†Ïßú
date_last = df_.iloc[-1][column_date]

#ÎÇ†Ïßú Í≥ÑÏÇ∞
date_first = date_last - relativedelta(months=+period_months)

####Ï∞∏Í≥†üéá
* 

```timedelta``` ÏóêÏÑú monthÎ•º Í≥ÑÏÇ∞ÌïòÎäî Î∞©ÏãùÏù¥ ÏóÜÏúºÎØÄÎ°ú,
```relativedelta``` Ìï®ÏàòÎ•º Ïù¥Ïö©ÌïòÏó¨ Í≥ÑÏÇ∞ÌïúÎã§.



```
#ÏïÑÎûòÏôÄ Í∞ôÏùÄ ÌòïÏãùÏù¥ ÏßÄÏõêÎêòÏßÄ ÏïäÎäîÎã§.
# month_before = (datetime.strptime(target_date, '%Y-%m-%d') - timedelta(months = 1)).strftime('%Y-%m-%d') 
```

In [26]:
date_first

Timestamp('2022-06-08 00:00:00')

In [27]:
# date_firstÏùò Í∞íÏùÄ Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.
# Timestamp('2022-06-08 00:00:00')


#Í∏∞Ï§ÄÏ†ê ÎÇ†Ïßú 'date_first'Î•º Í≥ÑÏÇ∞ÌïòÏó¨
df_ = df_[df_[column_date]>date_first].copy()


# Í∞Å Îç∞Ïù¥ÌÑ∞ Ïª¨ÎüºÎ≥Ñ Î¶¨Ïä§Ìä∏Ìôî
label_list = df_[column_date]
number_list = df_[column_equipment]

In [28]:
# Í∞Å Îç∞Ïù¥ÌÑ∞ Ïª¨ÎüºÎ≥Ñ Î¶¨Ïä§Ìä∏Ìôî
label_list = df_[column_date]

In [29]:
label_list

104   2022-06-09
105   2022-06-10
106   2022-06-11
107   2022-06-12
108   2022-06-13
         ...
160   2022-08-04
161   2022-08-05
162   2022-08-06
163   2022-08-07
164   2022-08-08
Name: ÎÇ†Ïßú, Length: 61, dtype: datetime64[ns]